.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  margin-bottom: 20px;
}
.header input[type="text"] {
  padding: 8px;
  width: 200px;
  margin-right: 20px;
}
.filters select {
  padding: 8px;
  margin-right: 10px;
}
.character-card {
  display: inline-block;
  width: 241px;
  background-color: #272323;
  color: white;
 
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
/* @media (max-width: 767px) {
  .character-card {
   
    width: 183px !important;

  } */
  /* .status_output p{
    font-size: 0.4rem !important;
} */
/* } */
/* @media (max-width: 1399px) {
  .character-card {
    width: 258px;

  }
}
*/
@media (min-width: 1200px) and (max-width: 1399px) {
  .character-card {
    width: 207px;
  }
} 
@media (min-width: 991px) and (max-width: 1200px) {
  .character-card {
width: 232px;  }
} 
@media (min-width: 768px) and (max-width: 991px) {
  .character-card {
width: -webkit-fill-available  }
} 
@media (min-width: 540px) and (max-width: 768px) {
  .character-card {
width:258px }
} 
@media (min-width: 390px) and (max-width: 540px) {
  .character-card {
width:183px;

}
.status_output p {
  font-size: 0.3rem ;
}
} 
.Characters_name h6{
  font-size: 0.8rem !important;
}
.status_id p{
  font-size: 0.6rem !important;
}
.character-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.character-info h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.character-info p {
  margin: 5px 0;
}
.add_main_filter{
  display: flex;
    justify-content: space-between;

}
.gender-filter {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; 
 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 5px 10px;
}

.selected {
  background-color: #eaeaea;
  font-weight: bold;
}

.species-filter {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; 
  margin-bottom: 20px;
}

.species-filter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.species-filter li {
  cursor: pointer;
  padding: 5px 10px;
}

.species-filter .selected {
  background-color: #eaeaea;
  font-weight: bold;
}

.origin-filter{
  border: 1px solid #ccc;
  border-radius: 5px;
}

.character-info p{
  font-size: 0.7rem;

}
.status {
  display: flex;
  justify-content: space-between;
}
.add_filters_details span{
  margin-top:10px;
}
.status_output p{
  color: orange;
  font-size: 0.3rem;
}
.status_output{
  /* text-align: center; */
  justify-content: center;
  display: flex;
  align-items: center;
}
.Characters_name{
  position: relative;
  top: -34px;
  background-color: #000000a1;;

}
.add_filter_search{
  display: flex;
  align-items: center;
}
.Characters_name h6{
  margin-bottom: 0.3rem !important;
}


.selected-filter {
  display: inline-block;
  background-color: lightgrey;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
}


.btn-remove-filter {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.btn-remove-filter:hover {
  color: red; 
}
